body {
  background-color: hotpink(201, 176, 37, 0.945);
  font-family: 2rem;
}
.logo {
  width: 80px;
}

nav li {
  display: inline-block;
}
nav li a {
  background-color: #46ff4b;
  text-decoration: none;
  color: #ff1274;
  padding: 1.2rem;
  border-radius: 20px;
  margin-right: 2rem;
}
nav {
  display: inline-block;
  margin-top: 2.5rem;
  margin-left: 100px;
  vertical-align: top;
}
nav li a:visited {
  background-color: #4ffa43;
  color: hwb(345 19% 8%);
}
nav li a:hover {
  background-color: #2623e4;
}
nav li a:active {
  background-color: red;
}
h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  font-weight: bold;
  font-size: 2rem;
  border: 2px;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  letter-spacing: 0.15rem;
  text-shadow: -1px 2px 1px hsl(273, 85%, 38%);
}
div {
  border-radius: 4px;
  height: auto;
  padding: 5px;
}
img {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  max-width: 100%;
}
.me img {
  width: 20%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-left: 6px solid #ff1274;
  border-radius: 30px;
}
.me img {
  opacity: 0.8;
}
.flowers img {
  border: 2px solid hsl(290, 93%, 45%);
  height: 200px;
  border-radius: 40%;
  width: 150px;
  box-shadow: lightcoral;
  float: left;
  margin-right: 1.2rem;
}
.orange img {
  border: 2px lightblue dotted;
  width: 190px;
  height: 180px;
  display: inline-block;
  margin: auto;
  padding: auto;
  border-radius: 50%;
}
.code img {
  width: 200px;
  height: 180%;
  border-radius: 10px;
  opacity: 0.7;
}
img:hover {
  box-shadow: 0 0 2px 1px #3e70f0;
}
.p1 {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2.5rem;
}
.brain {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
}
span {
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #09b0ce;
}
h2 {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
}
.Mumkids img {
  width: 350px;
  height: 400px;
  border-radius: 60px;
}
.orange img {
  width: 300px;
  height: 250px;
}
.years {
  list-style-type: upper-alpha;
}
.list2 {
  list-style-type: lower-alpha;
}
.day {
  list-style-type: lower-roman;
}
h2 {
  text-transform: capitalize;
  color: cornflowerblue;
  text-shadow: #4ffa43;
}
.Mumkids {
  display: inline-block;
  width: 300px;
  height: 400px;
  padding: 5px;
  border: 3px double blue;
  background-color: yellow;
  margin-left: 25px;
}
.H {
  color: black;
}
.g {
  text-align: center;
  color: coral;
}
.text1 {
  margin-left: 2.5rem;
}
.kid {
  font-size: 1.1rem;
  font-style: oblique;
  margin-left: 2.5rem;
}
.text {
  box-sizing: border-box;
  border: 3px solid #5eff00;
  width: 200px;
  height: 200px;
  overflow: hidden;
  overflow: scroll;
  margin-left: 50rem;
}
footer {
  border: 2px solid gray;
  padding: 20px 20px 30px 50px;
  text-align: center;
  text-transform: capitalize;
  margin: o auto;
  background-color: grey;
  border-radius: 40px;
  letter-spacing: 2px;
}
aside {
  margin-left: 3rem;
  border-style: inset;
  border-left-width: 20px;
  border-spacing: 2rem;
}

footer {
  letter-spacing: 5px;
  word-spacing: 10px;
  text-align: center;
}
.b {
  font-size: bold;
}
.b a:visited {
  color: #4ffa43;
}
.b a:hover {
  color: #069baf;
}
.b a:active {
  color: darkorange;
}
