* {
  box-sizing: border-box;
  margin: o;
  padding: 0;
}
body {
  background-color: antiquewhite;
  font-family: 2rem;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
  font-weight: bold;
  font-size: 2rem;
  border: 2px;
  background-color: aqua;
  text-align: center;
  }
  nav{
      display: inline-block;
      margin-top: 2rem;
      margin-left: 100px;
      vertical-align: top;
  }
div {
  border: 2px solid lightgreen;
  border-radius: 4px;
  height: auto;
  padding: 5px;
}
img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 50%;
}
